<mat-toolbar class="header" color="transparent">
  <div class="container header-inner">
    <div class="brand">
      <mat-icon class="bg-yellow" aria-hidden="true">bolt</mat-icon>
      <span class="txt-white">MashleWeb3</span>
    </div>
    <nav class="nav">
      <a>Docs</a>
      <a>Features</a>
      <a>Pricing</a>
      <a>Contact</a>
    </nav>
    <div class="actions">
      <button mat-flat-button>Sign in</button>
      <button mat-flat-button class="btn-primary">Launch App</button>
    </div>
  </div>
</mat-toolbar>
