# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# dotenv environment variables file
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files and directories
tmp/
temp/

# VS Code settings
.vscode/

# Editor backup files
*~
